@model Message
@{
    ViewData["Title"] = "Message " + Model.Id + " detail";
}
<div class="text-center">

    <h1 class="display-4">@ViewData["Title"]</h1>
    <h5>You type it, we post it!</h5>
    <ul class="list-group list-group-flush">       
            <li class="list-group-item">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@Model.Id</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@Model.Created</h6>
                        <p class="card-text">@Model.Body</p>
                    </div>
                </div>
            </li>
    </ul>
</div>